@import url('https://fonts.googleapis.com/css?family=Archivo+Black|Roboto');

* {
  background-color: black !important;
  color: white !important;
  font-family: 'Roboto', sans-serif !important;
}

h1, h2 {
  font-family: 'Archivo Black', sans-serif !important;
}

h1 {
  font-size: 60px !important;
}

h2 {
  font-size: 30px !important;
}

h3 {
  font-size: 20px !important;
}

h4 {
  font-size: 18px !important
}

a:hover {
  color: #ff002e !important;
}

#audio-controls {
  margin-top: 8px !important;
  max-width: 20px;
  max-height: 20px;
}

.header {
  margin-top: 30px !important;
  margin-bottom: 10px !important;
  text-align: center;
}

.pages {
  margin-left: 5% !important;
  margin-right: 5% !important;
}

.post-preview {
  margin-top: 15px;
  margin-bottom: 15px;
}

.column-header {
  margin-bottom: 40px;
}

.column-loader {
  margin-top: 50px !important;
}
